.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


@media(max-width: 500px) {

.icons {
  justify-content: space-around;
  width: 100%;
  padding-left: 24PX;
  padding-right: 24px;
}

.groups {
  border-left: 1px solid gray;
  border-right: 1px solid gray ;
  border-bottom: 2px solid lightgray;
}

.first_grid {
  display: grid;
  background-color: lightgray;
  height: fit-content;
}
 
.first_grid img {
  width: 100%;
}

.gr_right {
  display: flex;
  margin-top: -4px;
}

.center {
  display: flex;
  flex-direction: column;      
  flex-basis: fit-content;
  align-self: center;
  height: auto;
  width: 100%;
  margin-top: 32px;
}

.center h1 {
  font-size: 3.0em;
  width: 375px;
  height: auto;
  margin-top: -12px;
  margin-left: 16px;
  margin-right: 40px;
  opacity: 68%;
}

.center p {
  display:flex;
  font-weight: bold;            
  font-size: 1.9em;
  max-width: 100%;
  margin-top: 32px;
  margin-bottom: 24px;
  margin-left: 16px;      
  opacity: 68%;
}

.center a {
  display: flex;
}

.start {
  text-decoration: none;
  color: white;
  background-color: rgba(120, 120, 120, .5);      
  justify-content: center;
  align-items: center;
  height: 4em;
  font-weight: bold;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 32px;
}

.second_grid {
  display: grid;
  height: fit-content;
  margin-top: 92px;
}

.left_side img {
  display: none;
}

.left_bottom h1, p{
  display: none;
}

.right_side {
  display: flex;
  flex-direction: column;
  border-left: 1px solid rgb(225, 224, 224);
}

.grp_one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: normal;
  margin: 48px 32px;
}

.grp_one p{
  display: flex;
}

.mobile_orient {
  width: 100%;
  padding: 16px;
}

.grp_two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: normal;
  margin: 48px 32px;
}

.grp_two p {
  display: flex;
}

.mobile_campus {
  width: 100%;
  padding: 16px;
}

.grp_three {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: normal;
  margin: 32px 32px;
}

.grp_three p{
  display: flex;
  line-height: 1.9;
}

.mobile_lecture {
  width: 100%;
  padding: 16px;
}

.regular_orient, .regular_campus, .regular_lecture, .container {
  display: none;
}

.grp_one .grp_two .grp_three, h1 {
  font-size: 1.5em;
  opacity: 68%;
}
.grp_one .grp_two .grp_three, p {
  margin-top: 8px;
  margin-bottom: 8px;
  opacity: 68%;
  font-size: 1.2em;
}

.grp_one .grp_two .grp_three, a {
  text-decoration: none;
  font-size: 1.2em;
}
.soft img, .computer img, .design img, .data img, .business img, .marketing img, .title_third, .desc_third {
  background-color: #fff;
  display: none;
}

.header_six {
  font-size: 1.5em;
  opacity: 68%;
  font-weight: bold;
  margin-bottom: 24px;
  margin-top: 16px;
  margin-left: 16px;
}

.header_third {
  font-size: 2.55em;
  font-weight: bold;
  opacity: 68%;
  display: flex;
  height: auto;
  justify-content: center;
  margin-top: -18px;
}

.shift_groups {
  display: flex;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 8px;
  line-height: 1.5;
  flex-direction: column;
  background-color: lightgray;
}
  
.third_grid {
    margin-bottom: 32px;
    margin-top: 32px;
}

  .worth {
  display: none;
}

.statement {
  display: none;
}

.happen video{
  width: 100%;
  padding-bottom: 32px;
}

.thesis {
  background-color: #fff;
  height: auto;
  border-bottom: 1px solid rgb(225, 224, 224);
 }
 
 .building_header {
   display: flex;
   margin-top: 32px;
   margin-bottom: 32px;
   justify-content: center;
   align-items: center;
   font-size: 2.5em;
   font-weight: bold;
   line-height: .89;
 }

 footer .right {
  display: none;
 }

}






@media (max-width: 700px) and (min-width: 501px) {

  .adjust img {
    height: 32px;
  }
  
  .groups {
    display: grid;
    grid-template-rows: 625px;
    border-left: 1px solid gray;
    border-right: 1px solid gray ;
    border-bottom: 2px solid lightgray;
    }
  
  .first_grid {
    display: grid;
    grid-template-columns: 60% 40%;
    background-color: lightgray;
    width: 100%;
  }
  
  .gr_right {
    width: 100%;
  }
    
  .gr_right h1 {
    font-size: 1.5em;
    max-width: 10em;
    margin-top: 0px;
    opacity: 68%;
  }
    
  .first_left img {
    width: 100%;
    margin: 0;
    padding: 32px 24px;
    height: 71%;
  }
  
  .gr_right p {
    font-weight: bold;
    font-size: 1.3em;
    max-width: 50%;
    padding: 50px 0;
    opacity: 68%;
  }
  
  .center {
    display: flex;
    flex-direction: column;      
    flex-basis: fit-content;
    justify-content: center;
    align-self: center;
    height: 557px;
    width: 100%;
    margin-top: 32px;
  }
  
  .start {
    text-decoration: none;
    color: white;
    background-color: rgb(78, 78, 78);
    justify-content: center;
    align-items: center;
    max-width:
    20em;
    width: 90%;
    height: 3.5em;
    margin-right: 25px;
  }
  
  .second_grid {
    display: grid;
    grid-template-columns: 60% 40%;
    width: 100%;
  }
  
  .left_side img {
    width: 100%;
    padding: 32px 24px;
  }  
  
  .left_side {
    display: flex;
    flex-direction: column;
    height: 600px;
  }
  
  .left_bottom {
    margin-left: 24px;
    margin-top: -1px;
  }
  
  .left_bottom h1 {
    margin-bottom: 20px;
    margin-top: -20px;
    font-size: 1.8rem;
    margin-right: 16px;
  }
  
  .descript_one {
    margin-bottom: 24px;
    font-size: 1rem;
    margin-right: 16px;
  }
  
  .sign {
    margin-bottom: 32px;
    font-size: .8rem;
  }
      
  .right_side {
    display: flex;
    flex-direction: column;
    border-left: 1px solid rgb(225, 224, 224);
    margin-top: 16px;
    margin-bottom: 0;
    height: fit-content;
    width: 100%;
  }
  
  .grp_one, .grp_two, .grp_three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.5;
  }
  
  .orientation, .campus, .lecture {
    display: grid;
    grid-template-columns: 35% 65%;
    width: 100%;
  }
  
  .orientation {
    border-bottom: 2px double rgb(225, 224, 224);
  }
  
  .lecture {
    background-color: lightgray;
    margin-bottom: 32px;
  }
  
  .regular_orient, .regular_campus, .regular_lecture {
    width: 100%;
    padding: 16px; 
  }
  
  .mobile_orient, .mobile_campus, .mobile_lecture, .icons {
    display: none;
  }
    
  .grp_one .grp_two .grp_three, h1 {
    font-size: .9em;
    opacity: 68%;
  }
  .grp_one .grp_two .grp_three, p {
    margin-top: 8px;
    margin-bottom: 8px;
    opacity: 68%;
    font-size: 1em;
  }
  
  .grp_one .grp_two .grp_three, a {
    text-decoration: none;
    font-size: 1em;
  }
  
  .third_grid {
    background-color: lightgray;
  }

 .header_third {
    display: grid;
    margin-top: 32px;
    margin-bottom: 32px;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    font-weight: bold;
    opacity: 68%;
    width: 100%;
 }

 .group_six {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 32px;
  gap: 32px;
  height: auto;
}

.group_six img{
  width: 100%;
}

.options {
  display: flex;
  list-style-type: none;
}

.options a {
  text-decoration: none;
  color: black;
  font-size: 12px;
}

.options a:hover {
  color: gray;
}

.options li {
  margin-left: 16px;
}

.item a:hover {
  cursor: pointer;
  opacity: 40%;
}

.start {
  display: flex;
}

.container {
  margin-left: 24px;
  margin-right: 24px;
  font-size: 16px;
  width: 100%;
}

.soft, .computer, .design, .data, .business, .marketing {
  background-color: #fff;
}

.desc_third {
  margin-bottom: 24px;
  font-size: 1.2em;
  opacity: 68%;
}

.header_six {
  font-size: 1.5em;
  opacity: 68%;
  font-weight: bold;
}

.title_third {
  margin: 8px 0;
  font-size: 1.2em;
  opacity: 68%;
}

.shift_groups {
  display: flex;
  margin-left: 16px;
  margin-top: 16px;
  line-height: 1.5;
  flex-direction: column;
}

.worth img {
  padding: 16px;
  height: 48%;
}
 
.grewone {
  width: fit-content;
  align-self: center;
  line-height: 1.5;
  margin-top: -155px;
  font-size: .8em;
}

.growtwo {
  width: 40%;
  align-self: center;
  line-height: 1.5;
  margin-top: -172px;
  font-size: .8em;
  }

.worth {
display: flex;
flex-direction: column;
}

.annoying {
display: flex;
flex-direction: row;
margin-bottom: -52px;
}

.wonderful {
display: flex;
flex-direction: row;
line-height: 1.5; 
height: auto;
}

.statement {
padding-bottom: 32px;
margin-left: 24px;
margin-right: 24px;
margin-top: -5px;
}

.grid_lower {
display: grid;
grid-template-columns: 60% 40%;
}

.happen video{
width: 100%;
padding-bottom: 24px;
padding-left: 24px;
padding-right: 24px;
height: auto
}

.thesis {
  background-color: #fff;
  margin-top: 0px;
  height: auto;
  border-bottom: 1px solid rgb(225, 224, 224);
  
 }

.building_header {
 display: flex;
 margin-top: 32px;
 margin-bottom: 32px;
 justify-content: center;
 align-items: center;
 font-size: 2.5em;
 font-weight: bold;
 line-height: .89;
}

}

@media (max-width: 999px) and (min-width: 701px) {

  .adjust img {
    height: 32px;
  }
  
  .groups {
    display: grid;
    grid-template-rows: 625px;
    border-left: 1px solid gray;
    border-right: 1px solid gray ;
    border-bottom: 2px solid lightgray;
  }
  
  .first_grid {
    display: grid;
    grid-template-columns: 60% 40%;
    background-color: lightgray;
  }
    
  .gr_right h1 {
    font-size: 2.5em;
    max-width: 10em;
    margin-top: 0px;
    opacity: 68%;
  }
    
  .first_left img {
    width: 100%;
    margin: 0;
    padding: 32px 24px;
    height: 71%;
  }
  
  .gr_right p {
    font-weight: bold;
    font-size: 1.3em;
    max-width: 50%;
    padding: 50px 0;
    opacity: 68%;
  }
  
  .center {
    display: flex;
    flex-direction: column;      
    flex-basis: fit-content;
    justify-content: center;
    align-self: center;
    height: 557px;
    width: 100%;
    margin-top: 32px;
  }
  
  .start {
    text-decoration: none;
    color: white;
    background-color: rgb(78, 78, 78);
    justify-content: center;
    align-items: center;
    max-width:
    20em;
    height: 3.5em;
    margin-right: 25px;
  }
  
  .second_grid {
    display: grid;
    grid-template-columns: 60% 40%;
  }
  
  .left_side img {
    width: 100%;
    padding: 32px 24px;
    height: 66.5%;
  }  
  
  .left_side {
    display: flex;
    flex-direction: column;
    height: 840px;
  }
  
  .left_bottom {
    margin-left: 24px;
    margin-top: -1px;
  }
  
  .left_bottom h1 {
    margin-bottom: 20px;
    margin-top: -20px;
    font-size: 2rem;
    margin-right: 16px;
  }
  
  .descript_one {
    margin-bottom: 24px;
    font-size: 1.2rem;
    margin-right: 16px;
  }
  
  .sign {
    margin-bottom: 32px;
    font-size: 1rem;
  }
      
  .right_side {
    display: flex;
    flex-direction: column;
    border-left: 1px solid rgb(225, 224, 224);
    margin-top: 16px;
    margin-bottom: 0;
    height: fit-content;
  }
  
  .grp_one, .grp_two, .grp_three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.8;
  }
  
  .orientation, .campus, .lecture {
    display: grid;
    grid-template-columns: 35% 65%;
    width: 100%;
  }
  .orientation {
    border-bottom: 2px double rgb(225, 224, 224);
  }
  
  .lecture {
    background-color: lightgray;
    margin-bottom: 32px;
  }
  
  .regular_orient, .regular_campus, .regular_lecture {
    width: 100%;
    padding: 16px; 
  }
  
  .mobile_orient, .mobile_campus, .mobile_lecture, .icons {
    display: none;
  }
  
  
  .grp_one .grp_two .grp_three, h1 {
    font-size: 1.5em;
    opacity: 68%;
  }
  .grp_one .grp_two .grp_three, p {
    margin-top: 8px;
    margin-bottom: 8px;
    opacity: 68%;
    font-size: 1.2em;
  }
  
  .grp_one .grp_two .grp_three, a {
    text-decoration: none;
    font-size: 1.2em;
  }

  .third_grid {
    background-color: lightgray;
    height: auto;
  }

  .header_third {
    display: grid;
    margin-top: 32px;
    margin-bottom: 32px;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    font-weight: bold;
    opacity: 68%;
    width: 100%;
  }
  
  .group_six {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-left: 72px;
    margin-right: 72px;
    margin-bottom: 32px;
    gap:32px;
    height: auto;
  }

  .group_six img {
    width: 100%;
    height: auto;
  }

  .options {
    display: flex;
    list-style-type: none;
  }
  
  .options a {
    text-decoration: none;
    color: black;
    font-size: 16px;
  }
  
  .options a:hover {
    color: gray;
  }
  
  .options li {
    margin-left: 16px;
  }
  
  .item a:hover {
    cursor: pointer;
    opacity: 40%;
  }
  
  .start {
    display: flex;
  }

  .container {
    margin-left: 24px;
    margin-right: 24px;
    font-size: 16px;
    width: 100%;
  }

  .soft, .computer, .design, .data, .business, .marketing {
    background-color: #fff;
  }
  
  .desc_third {
    margin-bottom: 24px;
    font-size: 1.2em;
    opacity: 68%;
  }
  
  .header_six {
    font-size: 1.5em;
    opacity: 68%;
    font-weight: bold;
  }
  
  .title_third {
    margin: 8px 0;
    font-size: 1.2em;
    opacity: 68%;
  }
  
  .shift_groups {
    display: flex;
    margin-left: 16px;
    margin-top: 16px;
    line-height: normal;
    flex-direction: column;
  }

  .worth img {
    padding: 16px;
    height: 58%;
  }

 .grewone {
  width: fit-content;
  align-self: center;
  line-height: 1.5;
  margin-top: -52px;
  font-size: .8em;
}

.growtwo {
  width: 40%;
  align-self: center;
  line-height: 1.5;
  margin-top: -52px;
  font-size: .8em;
}

.worth{
  display: flex;
  flex-direction: column;
}

.annoying {
  display: flex;
  flex-direction: row;
  margin-bottom: -52px;
}

.wonderful {
  display: flex;
  flex-direction: row;
  line-height: 1.5; 
  height: auto;
}

.statement {
  padding-bottom: 32px;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: -5px;
}

.grid_lower {
  display: grid;
  grid-template-columns: 60% 40%;
}

.happen video{
  width: 100%;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
  height: auto
}

.thesis {
  background-color: #fff;
  height: auto;
  border-bottom: 1px solid rgb(225, 224, 224);
 }
 
 .building_header {
   display: flex;
   margin-top: 32px;
   margin-bottom: 32px;
   justify-content: center;
   align-items: center;
   font-size: 2.5em;
   font-weight: bold;
   line-height: .89;
 }

}

@media (max-width: 1799px) and (min-width: 1000px) {
  
  .adjust img {
    height: 32px;
  }
  
  .groups {
    display: grid;
    grid-template-rows: 625px;
    border-left: 1px solid gray;
    border-right: 1px solid gray ;
    border-bottom: 2px solid lightgray;
  }
  
  .first_grid {
    display: grid;
    grid-template-columns: 60% 40%;
    background-color: lightgray;
  }
    
  .gr_right h1 {
    font-size: 2.5em;
    max-width: 10em;
    margin-top: 0px;
    opacity: 68%;
  }
    
  .first_left img {
    width: 100%;
    margin: 0;
    padding: 32px 24px;
    height: 71%;
  }
  
  .gr_right p {
    font-weight: bold;
    font-size: 1.3em;
    max-width: 50%;
    padding: 50px 0;
    opacity: 68%;
  }
  
  .center {
    display: flex;
    flex-direction: column;      
    flex-basis: fit-content;
    justify-content: center;
    align-self: center;
    height: 557px;
    width: 100%;
    margin-top: 32px;
  }
  
  .start {
    text-decoration: none;
    color: white;
    background-color: rgb(78, 78, 78);
    justify-content: center;
    align-items: center;
    max-width:
    20em;
    height: 3.5em;
    margin-right: 25px;
  }
  
  .second_grid {
    display: grid;
    grid-template-columns: 60% 40%;
  }
  
  .left_side img {
    width: 100%;
    padding: 32px 24px;
    height: 66.5%;
  }  
  
  .left_side {
    display: flex;
    flex-direction: column;
    height: 840px;
  }
  
  .left_bottom {
    margin-left: 24px;
    margin-top: -1px;
  }
  
  .left_bottom h1 {
    margin-bottom: 24px;
    margin-top: -20px;
    font-size: 2.15rem;
    margin-right: 16px;
  }
  
  .descript_one {
    margin-bottom: 24px;
    font-size: 1.2rem;
    margin-right: 16px;
  }
  
  .sign {
    margin-bottom: 32px;
    font-size: 1.15rem;
  }
      
  .right_side {
    display: flex;
    flex-direction: column;
    border-left: 1px solid rgb(225, 224, 224);
    margin-top: 16px;
    margin-bottom: 0;
    height: fit-content;
  }
  
  .grp_one, .grp_two, .grp_three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.8;
  }
  
  .orientation, .campus, .lecture {
    display: grid;
    grid-template-columns: 35% 65%;
    width: 100%;
  }
  .orientation {
    border-bottom: 2px double rgb(225, 224, 224);
  }
  
  .lecture {
    background-color: lightgray;
    margin-bottom: 32px;
  }
  
  .regular_orient, .regular_campus, .regular_lecture {
    width: 100%;
    padding: 16px; 
  }
  
  .mobile_orient, .mobile_campus, .mobile_lecture, .icons {
    display: none;
  }
  
  .grp_one .grp_two .grp_three, h1 {
    font-size: 1.5em;
    opacity: 68%;
  }
  .grp_one .grp_two .grp_three, p {
    margin-top: 8px;
    margin-bottom: 8px;
    opacity: 68%;
    font-size: 1.2em;
  }
  
  .grp_one .grp_two .grp_three, a {
    text-decoration: none;
    font-size: 1.2em;
  }

  .third_grid {
    background-color: lightgray;
    height: auto;
  }

  .header_third {
    display: grid;
    margin-top: 32px;
    margin-bottom: 32px;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    font-weight: bold;
    opacity: 68%;
    width: 100%;
  }

  .group_six {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-left: 72px;
    margin-right: 72px;
    margin-bottom: 32px;
    gap:32px;
    height: auto;
  }
  
  .group_six img {
    width: 100%;
    height: auto;
  }

  .options {
    display: flex;
    list-style-type: none;
  }
  
  .options a {
    text-decoration: none;
    color: black;
    font-size: 16px;
  }
  
  .options a:hover {
    color: gray;
  }
  
  .options li {
    margin-left: 16px;
  }
  
  .item a:hover {
    cursor: pointer;
    opacity: 40%;
  }
  
  .start {
    display: flex;
  }

  .container {
    margin-left: 24px;
    margin-right: 24px;
    font-size: 16px;
    width: 100%;
  }

  .soft, .computer, .design, .data, .business, .marketing {
    background-color: #fff;
  }
  
  .desc_third {
    margin-bottom: 24px;
    font-size: 1.2em;
    opacity: 68%;
  }
  
  .header_six {
    font-size: 1.5em;
    opacity: 68%;
    font-weight: bold;
  }
  
  .title_third {
    margin: 8px 0;
    font-size: 1.2em;
    opacity: 68%;
  }
  
  .shift_groups {
    display: flex;
    margin-left: 16px;
    margin-top: 16px;
    line-height: 1.5;
    flex-direction: column;
  }
  
  .worth img {
    display: flex;
    padding: 16px;
    height: 75%;
  }
   
  .grewone {
    width: 30%;
    align-self: center;
    line-height: 1.8;
    margin-top: -52px;
  }
  
  .growtwo {
    width: 40%;
    align-self: center;
    line-height: 1.8;
    margin-top: -52px;
  }

  .annoying {
    display: flex;
    flex-direction: row;
    margin-bottom: -52px;
  }
  
  .wonderful {
    display: flex;
    flex-direction: row;
    line-height: 1.5; 
  }
  
  .worth{
    display: flex;
    height: auto;
    flex-direction: column;
  }

  .statement {
    padding-bottom: 32px;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: -5px;
  }
  
  .grid_lower {
    display: grid;
    grid-template-columns: 60% 40%;
}

.happen video{
  width: 100%;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
  height: auto
}

.thesis {
  background-color: #fff;
  height: auto;
  border-bottom: 1px solid rgb(225, 224, 224);
 }
 
 .building_header {
   display: flex;
   margin-top: 32px;
   margin-bottom: 32px;
   justify-content: center;
   align-items: center;
   font-size: 2.5em;
   font-weight: bold;
   line-height: .89;
 }
 

}


@media /*(max-width: 1920px) and*/ (min-width: 1800px) {
  
.adjust img {
  height: 32px;
}

.groups {
  display: grid;
  grid-template-rows: 625px;
  border-left: 1px solid gray;
  border-right: 1px solid gray ;
  border-bottom: 2px solid lightgray;
}

.first_grid {
  display: grid;
  grid-template-columns: 60% 40%;
  background-color: lightgray;
}
  
.gr_right h1 {
  font-size: 2.5em;
  max-width: 10em;
  margin-top: 0px;
  opacity: 68%;
}
  
.first_left img {
  width: 100%;
  margin: 0;
  padding: 32px 24px;
  height: 71%;
}

.gr_right p {
  font-weight: bold;
  font-size: 1.3em;
  max-width: 50%;
  padding: 50px 0;
  opacity: 68%;
}

.center {
  display: flex;
  flex-direction: column;      
  flex-basis: fit-content;
  justify-content: center;
  align-self: center;
  height: 557px;
  width: 100%;
  margin-top: 32px;
}

.start {
  text-decoration: none;
  color: white;
  background-color: rgb(78, 78, 78);
  justify-content: center;
  align-items: center;
  max-width:
  20em;
  height: 3.5em;
  margin-right: 25px;
}

.second_grid {
  display: grid;
  grid-template-columns: 60% 40%;
}

.left_side img {
  width: 100%;
  padding: 32px 24px;
  height: 66.5%;
}  

.left_side {
  display: flex;
  flex-direction: column;
  height: 840px;
}

.left_bottom {
  margin-left: 24px;
  margin-top: -1px;
}

.left_bottom h1 {
  margin-bottom: 24px;
  margin-top: -20px;
  font-size: 3.05rem;
  margin-right: 16px;
}

.descript_one {
  margin-bottom: 24px;
  font-size: 1.6rem;
  margin-right: 16px;
}

.sign {
  margin-bottom: 32px;
  font-size: 1.35rem;
}
    
.right_side {
  display: flex;
  flex-direction: column;
  border-left: 1px solid rgb(225, 224, 224);
  margin-top: 16px;
  margin-bottom: 0;
  height: fit-content;
}

.grp_one, .grp_two, .grp_three {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.8;
}

.orientation, .campus, .lecture {
  display: grid;
  grid-template-columns: 35% 65%;
  width: 100%;
}
.orientation {
  border-bottom: 2px double rgb(225, 224, 224);
}

.lecture {
  background-color: lightgray;
  margin-bottom: 32px;
}

.regular_orient, .regular_campus, .regular_lecture {
  width: 100%;
  padding: 16px; 
}

.mobile_orient, .mobile_campus, .mobile_lecture, .icons {
  display: none;
}


.grp_one .grp_two .grp_three, h1 {
  font-size: 1.5em;
  opacity: 68%;
}

.grp_one .grp_two .grp_three, p {
  margin-top: 8px;
  margin-bottom: 8px;
  opacity: 68%;
  font-size: 1.2em;
}

.grp_one .grp_two .grp_three, a {
  text-decoration: none;
  font-size: 1.2em;
}

.third_grid {
  background-color: lightgray;
  height: auto;
  
}

.header_third {
  display: grid;
  margin-top: 32px;
  margin-bottom: 32px;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  font-weight: bold;
  opacity: 68%;
  width: 100%;
}

.group_six {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-left: 72px;
  margin-right: 72px;
  margin-bottom: 32px;
  gap:32px;
  height: auto;
}

.group_six img {
  width: 100%;
  height: auto;
}

.options {
  display: flex;
  list-style-type: none;
}

.options a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.options a:hover {
  color: gray;
}

.options li {
  margin-left: 16px;
}

.item a:hover {
  cursor: pointer;
  opacity: 40%;
}

.start {
  display: flex;
}

.container {
  margin-left: 24px;
  margin-right: 24px;
  font-size: 16px;
  width: 100%;
}

.soft, .computer, .design, .data, .business, .marketing {
  background-color: #fff;
}

.desc_third {
  margin-bottom: 24px;
  font-size: 1.2em;
  opacity: 68%;
}

.header_six {
  font-size: 1.5em;
  opacity: 68%;
  font-weight: bold;
}

.title_third {
  margin: 8px 0;
  font-size: 1.2em;
  opacity: 68%;
}

.shift_groups {
  display: flex;
  margin-left: 16px;
  margin-top: 16px;
  line-height: 1.5;
  flex-direction: column;
}

.worth img {
  display: flex;
  padding: 16px;
  height: 85%;
}

.grewone {
  width: 30%;
  align-self: center;
  line-height: 1.8;
  margin-top: -52px;
}

.growtwo {
  width: 40%;
  align-self: center;
  line-height: 1.8;
  margin-top: -52px;
}

.annoying {
  display: flex;
  flex-direction: row;
  margin-bottom: -52px;
}

.wonderful {
  display: flex;
  flex-direction: row;
  line-height: 1.5; 
  height: auto;
}

.worth{
  display: flex;
  height: auto;
  flex-direction: column;
}

.statement {
  padding-bottom: 32px;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: -5px;
}

.grid_lower {
  display: grid;
  grid-template-columns: 60% 40%;
}

.happen video{
  width: 100%;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
  height: auto
}

.thesis {
  background-color: #fff;
  height: auto;
  border-bottom: 1px solid rgb(225, 224, 224);
}
 
 .building_header {
   display: flex;
   margin-top: 32px;
   margin-bottom: 32px;
   justify-content: center;
   align-items: center;
   font-size: 2.5em;
   font-weight: bold;
   line-height: .89;
 }
}